html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1 {
    font-size: 1.8rem;
    color: white;
}
h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: #143642;
}
.topnav {
    overflow: hidden;
    background-color: #F70;
}
body {
    margin: 0;
}
.content {
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
}
.card {
    background-color: #F8F7F9;;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
    padding-top:10px;
    padding-bottom:20px;
}
.button {
    padding: 15px 50px;
    font-size: 24px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #FA0;
    border: none;
    border-radius: 5px;
}
/*.button:hover {background-color: #0f8b8d}*/
.button:active {
    background-color: #FC0;
    box-shadow: 2 2px #CDCDCD;
    transform: translateY(2px);
}
.state {
    font-size: 1.5rem;
    color:#8c8c8c;
    font-weight: bold;
}
